.button {
  &:hover {
    border: 2px solid #444444;
    background: linear-gradient(0deg, #444444, #444444);
    color: $white;
  }

  &:focus {
    border: 2px solid #444444;
    background: linear-gradient(0deg, #444444, #444444);
    color: rgba($white, 0.3);
  }
}
