.catalog-item {
    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content 1fr min-content;

    }

    @media (min-width: $desktop-width) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr min-content min-content min-content;
    }
}

.catalog-item__link {
    @include center-x;

    @media (min-width: $tablet-width) {
        grid-column: 1/3;
        grid-row: 1/4;
    }

    @media (min-width: $desktop-width) {
        grid-column: 1/3;
        grid-row: 1;
    }
}

.catalog-item__img {
    background-color: $ligthgrey;
}

.catalog-item__title {
    display: flex;
    text-decoration: none;
    color: $black;
    font-weight: bold;
}

.catalog-item__desc {
    font-size: 13px;
    line-height: 30px;
    color: $greyish-black;
}

.catalog-item__price {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
}

.catalog-item__info {
    padding-top: 28px;
    padding-left: 28px;
    padding-bottom: 27px;

    @media (min-width: $desktop-width) {
        width: 100%;
        padding: 0;
        grid-column: 1/3;
        grid-row: 2/5;
    }
}

.catalog-item__button {
    background: url('.././img/icon-cart.svg') no-repeat center;
}
