.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 23px;
}

.copyright__text {
    font-weight: 600;
    font-size: 19px;
    line-height: 18px;
    padding-right: 27px;
}

.copyright__link {
    display: flex;
    align-items: center;

    @media (min-width: $tablet-width) {
        width: 40px;
        height: 34px;
    }
}
