.form {
    display: flex;
    flex-wrap: wrap;
}

.form__item {
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 34px;
    width: 100%;

    @media (min-width: $tablet-width) {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $desktop-width) {

        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

.form__input-group {
    margin: 0;
    padding: 0;
    margin-top: 22px;

    @media (min-width: $tablet-width) {
        grid-column: 2/5;
        display: flex;
    }

    @media (min-width: $desktop-width) {
        grid-column: 3/6;
    }
}

.form__item-name {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: $tiffany;

    @media (min-width: $tablet-width) {
        grid-column: 1;
    }

    @media (min-width: $desktop-width) {
        grid-column: 2;
    }
}

.form__item-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
        grid-column: 2/5;
    }

    @media (min-width: $desktop-width) {
        grid-column: 3/6;
    }
}

.form__item-list--checkbox {
    @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {}
}

.form__input-name {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
        grid-column: 1;
    }

    @media (min-width: $desktop-width) {
        grid-column: 2;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: 17px 0;
    box-shadow: inset 0px -2px 0px #000000;
    font-size: 17px;
    line-height: 18px;
    @include main-font;

    @media (min-width: $tablet-width) {
        grid-column: 2/5;
    }

    @media (min-width: $desktop-width) {
        grid-column: 3/6;
    }
}

.form__textarea:-moz-placeholder,
.form__textarea:-webkit-input-placeholder,
.form__input::placeholder {
    opacity: 0.3;
    @include main-font;
}


.form__textarea {
    display: block;
    width: 100%;
    margin-top: 22px;
    border: 2px solid $greyish-black;
    padding: 17px 18px;
    @include main-font;

    @media (min-width: $tablet-width) {
        grid-column: 2/5;
    }

    @media (min-width: $desktop-width) {
        grid-column: 3/6;
    }
}

.form__footnote {
    margin: 0;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
        width: auto;
        order: 1;
        margin-left: auto;
    }
}

.form__button {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-top: 13px;
    padding: 16px 11px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $greyish-black;
    background-color: $white;
    border: 2px solid $greyish-black;

    @media (min-width: $tablet-width) {
        width: auto;
    }
}
