.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.main-nav__list--menu {
  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-left: $wrap-desktop;
  }
}

.main-nav__item-link {
  width: 100%;
  display: flex;
  color: $black;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.main-nav__item {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 30px;
  //margin-right: auto;
  @include menu-button-shadow;
  //@include wrapper;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-right: 0;
    padding-left: 34px;
    padding-top: 33px;
    padding-bottom: 31px;
    width: auto;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    padding-left: 37px;
  }
}

.main-nav__item--menu {
  padding-left: 76px;
  padding-right: 30px;
  padding-top: 29px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 0;

    &:not(:first-child) {
      margin-left: 37px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 33px 36px 31px 0;

    &:not(:first-child) {
      margin-left: 0;
      padding-left: 35px;
      border-left: 1px solid rgba($black, 0.1);
    }
  }
}
