.page-footer {
    display: flex;
    background-color: $ligthgrey;

    @media (min-width: $tablet-width) {
        margin-top: 30px;
    }
}

.page-footer__wrapper {
    width: 100%;
    @include wrapper;

    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
}

.page-footer__logo {
    display: none;

    @media (min-width: $tablet-width) {
        display: block;
    }

    @media (min-width: $desktop-width) {}
}

.page-footer__social {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;

    @media (min-width: $tablet-width) {
        width: auto;
        margin-left: 83px;
    }
}

.page-footer__logo-img {}

.page-footer__copyright {}
