.page-main__h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.page-main__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    background-color: $ligthgrey;
    padding: 74px 0;
}
