.page-main__h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.page-main__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    background-color: $ligthgrey;
    padding: 74px 0;
}

.page-main__title-desc {
    margin: 17px 30px 12px;
    font-size: 13px;
    line-height: 24px;
    color: $greyish-black;

    @media (min-width: $tablet-width) {
        margin: 0 50px;
    }
}

.page-main__order-form {
    margin: 0 30px;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 55px;

    @media (min-width: $tablet-width) {
        margin: 0 50px;
    }
}
