.reviews {
    margin-top: 31px;
    padding-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 38px;
}

.reviews__title {
    margin-bottom: 14px;
}

.reviews__wrapper {}

.reviews__list {}

.reviews__item {
    margin: 0;
    padding: 0;
}

.reviews__text {
    margin-bottom: 33px;
    font-size: 15px;
    line-height: 30px;
}

.reviews__author-info {
    margin-bottom: 30px;
}

.reviews__author-name {
    font-weight: bold;
    font-style: normal;
    padding-bottom: 9px;
}

.reviews__author-link {
    text-decoration: none;
    color: $black;
}

.reviews__write {
    display: inline-block;
    width: 100%;
    padding: 16px 11px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $greyish-black;
    background-color: $white;
    border: 2px solid $greyish-black;
    text-decoration: none;
}

.reviews__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid $ligther-grey;
    margin-bottom: 38px;
}

.reviews__button {
    margin: 0;
    padding: 13px 38px;
    width: 56px;
    height: 56px;
    flex-grow: 1;
    border: none;
    cursor: pointer;
}

.reviews__button--prev {
    background: $white url('.././img/icon-left-arrow.svg') no-repeat center;
}

.reviews__button--next {
    background: $white url('.././img/icon-right-arrow.svg') no-repeat center;
}
