.social {
  padding-bottom: 20px;
}

.social__item {
  display: flex;
}

.social__link {
  display: flex;
  /* width: 30px;
  height: 30px;*/
}

.social__link--twitter {
  /*background: url(.././img/icon-twitter.svg) no-repeat center;*/
}

.social__link--facebook {
  /*background: url(.././img/icon-fb.svg) no-repeat center;*/
  margin-left: 33px;
  margin-right: 33px;
}

.social__link--instagram {
  /*background: url(.././img/icon-insta.svg) no-repeat center;*/
}

.social__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: flex;
  align-items: center;
}
