.video {
  padding: 0 $wrap 33px;

  @include center-x;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
    padding: 0 $wrap-tablet 33px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, min-content);
    padding: 0 $wrap-desktop 82px;
  }
}

.video__border {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: 1/5;
    grid-row: 2/5;
    border: 1px solid $ligther-grey;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    grid-row: 1/4;
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 57px;
  }
}

.video__title {
  width: 100%;
  position: relative;
  padding: 22px 13px 27px 91px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  /*background: url('.././img/icon-video.svg') no-repeat 34px center;*/
  order: -1;

  @media (min-width: $tablet-width) {
    grid-column: 1/5;
    grid-row: 2;
    font-size: 20px;
    padding: 39px 13px 24px 107px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    grid-row: 1;
    padding: 55px 0 26px 0;
  }
}

.video__ico {
  position: absolute;
  top: 31px;
  left: 42px;
  fill: $tiffany;

  @media (min-width: $desktop-width) {
    top: 0;
    left: 0;
  }
}

.video__play {
  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 24%;
    left: 43.5%;
    border: none;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    top: 37%;
    left: 30%;
  }
}

.video__video {
  width: 100%;
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1/5;
    grid-row: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/5;
    grid-row: 1/4;
    padding-right: 15px;
  }
}

.video__desc {
  margin: 0;
  padding: 35px 0 41px 34px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-column: 1/5;
    grid-row: 3;
    padding: 0 10px 40px 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    grid-row: 2;
    padding: 0 0 52px 0;
  }
}

.video__button {
  max-width: 100%;
  margin: 0 34px;
  padding: 18px 11px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $greyish-black;
  background-color: $white;
  border: 2px solid $greyish-black;

  @media (min-width: $tablet-width) {
    grid-column: 1/5;
    grid-row: 4;
    margin: 0 42px;
    padding: 17px 11px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}
