// Colors

$white:#ffffff;
$ligthgrey:#F1F1F1;
$grey:#C7C7C7;
$tiffany:#63D1BB;
$dark-tiffany:#56C3B2;
$black:#000000;
$greyish-black:#444444;
$ligther-grey:#ECECEC;


// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 320px;
