// Colors

$white:#ffffff;
$ligthgrey:#F1F1F1;
$grey:#C7C7C7;
$tiffany:#63D1BB;
$dark-tiffany:#56C3B2;
$black:#000000;
$greyish-black:#444444;
$ligther-grey:#ECECEC;
$backgrey:#f9f9f9;


// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$desktop-max-width: 1350px;


// wrappers
$wrap: 30px;
$wrap-tablet: 50px;
$wrap-desktop: calc(50px + ((100VW - 1150px)/2));
