// Colors

$white:#ffffff;
$ligthgrey:#f1f1f1;
$grey:#c7c7c7;
$tiffany:#63d1bb;
$dark-tiffany:#56c3b2;
$black:#000000;
$greyish-black:#444444;
$ligther-grey:#ececec;
$backgrey:#f9f9f9;
$g:#c6c6c6;
$bright-tiffany:#62D1BA;
$ligth-tiffany:#46C1AE;


// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$desktop-max-width: 1350px;


// wrappers
$wrap: 30px;
$wrap-tablet: 50px;
$wrap-desktop: calc(50px + ((100vw - 1150px) / 2));
